<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/ugcqz6ohbvff804xp84y4kqnvvk3bq1g.png" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Assignment: Notebook for Peer Assignment</font></h1>

# Introduction

Using this Python notebook you will:
1. Understand 3 Chicago datasets  
1. Load the 3 datasets into 3 tables in a Db2 database
1. Execute SQL queries to answer assignment questions

## Understand the datasets 
To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:
1. <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2">Socioeconomic Indicators in Chicago</a>
1. <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t">Chicago Public Schools</a>
1. <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago
This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/05c3415cbfbtfnr2fx4atenb2sd361ze.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2



### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

For this assignment you will use a snapshot of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/0g7kbanvn5l2gt2qu38ukooatnjqyuys.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t




### 3. Chicago Crime Data 

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days. 

This dataset is quite large - over 1.5GB in size with over 6.5 million rows. For the purposes of this assignment we will use a much smaller sample of this dataset which can be downloaded from:
https://ibm.box.com/shared/static/svflyugsr9zbqy5bmowgswqemfpm1x7f.csv

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:
https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2

### Store the datasets in database tables
In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in Week 3 Lab 3, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR. 

Therefore, __it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II__. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next". 

<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg"></a>

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the first dataset, Next create a New Table, and then follow the steps on-screen instructions to load the data. Name the new tables as folows:
1. __CENSUS_DATA__
1. __CHICAGO_PUBLIC_SCHOOLS__
1. __CHICAGO_CRIME_DATA__

### Connect to the database 
Let us first load the SQL extension and establish a connection with the database

In [1]:
%load_ext sql

In [2]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://dkm78407:s5@6x0zbp3l0lqk8@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB

'Connected: dkm78407@BLUDB'

## Problems
Now write and execute SQL queries to solve assignment problems

### Problem 1

##### How many rows are in each dataset?

In [3]:
# Rows in Census Data (Socieconimic Indicators)
%sql select count(*) from CENSUS_DATA

 * ibm_db_sa://dkm78407:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('78'),)]

In [5]:
# Rows in Public Schools
%sql select count(*) from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://dkm78407:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('566'),)]

In [6]:
# Rows in Crime Data
%sql select count(*) from CHICAGO_CRIME_DATA

 * ibm_db_sa://dkm78407:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 2

##### Find average college enrollments by community area

In [8]:
%sql select "Community_Area_Name", avg("College_Enrollment__number_of_students_") as AVG_ENROLLMENT \
from CHICAGO_PUBLIC_SCHOOLS \
group by "Community_Area_Name"

 * ibm_db_sa://dkm78407:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[('ALBANY PARK', Decimal('858.000000')),
 ('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('ARMOUR SQUARE', Decimal('486.000000')),
 ('ASHBURN', Decimal('810.375000')),
 ('AUBURN GRESHAM', Decimal('417.500000')),
 ('AUSTIN', Decimal('475.347826')),
 ('AVALON PARK', Decimal('507.333333')),
 ('AVONDALE', Decimal('910.000000')),
 ('BELMONT CRAGIN', Decimal('1198.833333')),
 ('BEVERLY', Decimal('409.000000')),
 ('BRIDGEPORT', Decimal('633.400000')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BURNSIDE', Decimal('549.000000')),
 ('CALUMET HEIGHTS', Decimal('261.333333')),
 ('CHATHAM', Decimal('560.222222')),
 ('CHICAGO LAWN', Decimal('1012.285714')),
 ('CLEARING', Decimal('521.250000')),
 ('DOUGLAS', Decimal('424.545454')),
 ('DUNNING', Decimal('761.333333')),
 ('EAST GARFIELD PARK', Decimal('410.538461')),
 ('EAST SIDE', Decimal('1061.000000')),
 ('EDGEWATER', Decimal('766.666666')),
 ('EDISON PARK', Decimal('455.000000')),
 ('ENGLEWOOD', Decimal('401.882352')),
 ('FOREST GLEN', Decimal('477.000000')),
 ('FULLER PARK', Decimal('265.500000')),
 ('GAGE PARK', Decimal('991.500000')),
 ('GARFIELD RIDGE', Decimal('910.400000')),
 ('GRAND BOULEVARD', Decimal('351.125000')),
 ('GREATER GRAND CROSSING', Decimal('405.100000')),
 ('HEGEWISCH', Decimal('481.500000')),
 ('HERMOSA', Decimal('993.750000')),
 ('HUMBOLDT PARK', Decimal('663.076923')),
 ('HYDE PARK', Decimal('482.500000')),
 ('IRVING PARK', Decimal('862.666666')),
 ('JEFFERSON PARK', Decimal('877.500000')),
 ('KENWOOD', Decimal('612.428571')),
 ('LAKE VIEW', Decimal('641.363636')),
 ('LINCOLN PARK', Decimal('802.142857')),
 ('LINCOLN SQUARE', Decimal('826.400000')),
 ('LOGAN SQUARE', Decimal('668.272727')),
 ('LOOP', Decimal('871.000000')),
 ('LOWER WEST SIDE', Decimal('659.727272')),
 ('MCKINLEY PARK', Decimal('388.000000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('MORGAN PARK', Decimal('654.200000')),
 ('MOUNT GREENWOOD', Decimal('522.750000')),
 ('NEAR NORTH SIDE', Decimal('480.285714')),
 ('NEAR SOUTH SIDE', Decimal('459.333333')),
 ('NEAR WEST SIDE', Decimal('498.437500')),
 ('NEW CITY', Decimal('609.384615')),
 ('NORTH CENTER', Decimal('1077.285714')),
 ('NORTH LAWNDALE', Decimal('321.625000')),
 ('NORTH PARK', Decimal('842.000000')),
 ('NORWOOD PARK', Decimal('808.625000')),
 ('OAKLAND', Decimal('140.000000')),
 ('OHARE', Decimal('786.000000')),
 ('PORTAGE PARK', Decimal('993.428571')),
 ('PULLMAN', Decimal('324.000000')),
 ('RIVERDALE', Decimal('386.750000')),
 ('ROGERS PARK', Decimal('678.000000')),
 ('ROSELAND', Decimal('540.000000')),
 ('SOUTH CHICAGO', Decimal('577.571428')),
 ('SOUTH DEERING', Decimal('464.750000')),
 ('SOUTH LAWNDALE', Decimal('672.409090')),
 ('SOUTH SHORE', Decimal('504.777777')),
 ('UPTOWN', Decimal('626.857142')),
 ('WASHINGTON HEIGHTS', Decimal('445.111111')),
 ('WASHINGTON PARK', Decimal('529.600000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('WEST ENGLEWOOD', Decimal('457.384615')),
 ('WEST GARFIELD PARK', Decimal('327.750000')),
 ('WEST LAWN', Decimal('1051.750000')),
 ('WEST PULLMAN', Decimal('324.000000')),
 ('WEST RIDGE', Decimal('910.777777')),
 ('WEST TOWN', Decimal('471.450000')),
 ('WOODLAWN', Decimal('525.750000'))]

### Problem 3

##### Find the number of schools that are healthy school certified

In [12]:
%sql select count(*) as Number_of_Schools_Certified from SCHOOLS where "Healthy_Schools_Certified_"='Yes'

 * ibm_db_sa://dkm78407:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('16'),)]

### Problem 4

##### How many observations have a Location Description value of GAS STATION

In [15]:
%sql select count(*) from CHICAGO_CRIME_DATA where "Location_Description"='GAS STATION'

 * ibm_db_sa://dkm78407:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('6'),)]

### Problem 5

##### Retrieve a list of the top 10 community areas which have most number of schools and sorted in descending order.

In [65]:
%sql select * from CENSUS_DATA where hardship_index = 39

 * ibm_db_sa://dkm78407:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(1, 'Rogers Park', Decimal('7.7'), Decimal('23.6'), Decimal('8.7'), Decimal('18.2'), Decimal('27.5'), 23939, 39)]

### Problem 6

##### How many observations have value MOTOR VEHICLE THEFT in the Primary Type variable (this is the number of crimes related to Motor vehicles)

In [34]:
%sql select * from CHICAGO_PUBLIC_SCHOOLS limit 5

 * ibm_db_sa://dkm78407:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
Done.

[(610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99, 'Very Strong', '99', 'Strong', 74, 'Strong', 66, 'Strong', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.0%', Decimal('2.0'), '96.4%', '95.8%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', Decimal('69.7'), Decimal('64.4'), Decimal('0.2'), Decimal('0.9'), 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 150000000000000, Decimal('1171699.458'), Decimal('1915829.428'), Decimal('41.92449696'), Decimal('-87.64452163'), 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)'),
 (610281, 'Adam Clayton Powell Paideia Community Academy Elementary School', 'ES', '7511 S South Shore Dr', 'Chicago', 'IL', 60649, '(773) 535-6650', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610281.pdf', 'Skyway Elementary Network', 'SOUTH SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 54, 'Strong', '66', 'Strong', 74, 'Very Strong', 84, 'Strong', '63', 'Strong', '76', 'Weak', '46', 'Average', '50', '95.6%', Decimal('15.7'), '95.3%', '100.0%', '62.4', '51.7', '21.9', '15.1', '29', '42.8', '38.5', '27.4', '44.8', '42.7', '14.1', '34.4', Decimal('16.8'), Decimal('16.5'), Decimal('0.7'), Decimal('1.4'), 'Green', 'Green', '17.2', '27.3', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 521, 46, 'NDA', 150000000000000, Decimal('1196129.985'), Decimal('1856209.466'), Decimal('41.76032435'), Decimal('-87.55673627'), 43, 'SOUTH SHORE', 7, 4, '(41.76032435, -87.55673627)'),
 (610185, 'Adlai E Stevenson Elementary School', 'ES', '8010 S Kostner Ave', 'Chicago', 'IL', 60652, '(773) 535-2280', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610185.pdf', 'Midway Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 2', 'No', 'Strong', 61, 'NDA', 'NDA', 'Average', 50, 'Weak', 36, 'NDA', 'NDA', 'NDA', 'NDA', 'Average', '47', 'Weak', '41', '95.7%', Decimal('2.3'), '94.7%', '98.3%', '53.7', '26.6', '38.3', '34.7', '43.7', '57.3', '48.8', '39.2', '46.8', '44', '7.5', '21.9', Decimal('18.3'), Decimal('15.5'), Decimal('-0.9'), Decimal('-1.0'), 'Red', 'Red', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 1324, 44, 'NDA', 150000000000000, Decimal('1148427.165'), Decimal('1851012.215'), Decimal('41.74711093'), Decimal('-87.73170248'), 70, 'ASHBURN', 13, 8, '(41.74711093, -87.73170248)'),
 (609993, 'Agustin Lara Elementary Academy', 'ES', '4619 S Wolcott Ave', 'Chicago', 'IL', 60609, '(773) 535-4389', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_609993.pdf', 'Pershing Elementary Network', 'SOUTHWEST SIDE COLLABORATIVE', 'No', 'Track_E', 'Not on Probation', 'Level 1', 'No', 'Average', 56, 'Average', '44', 'Average', 45, 'Weak', 37, 'Strong', '65', 'Average', '48', 'Average', '53', 'Strong', '58', '95.5%', Decimal('10.4'), '95.8%', '100.0%', '76.9', 'NDA', '26', '24.7', '61.8', '49.7', '39.2', '27.2', '69.7', '60.6', '9.1', '18.2', Decimal('11.1'), Decimal('9.6'), Decimal('0.9'), Decimal('2.4'), 'Green', 'Green', '42.9', '25', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 556, 42, 'NDA', 150000000000000, Decimal('1164504.290'), Decimal('1873959.199'), Decimal('41.80975690'), Decimal('-87.67214460'), 61, 'NEW CITY', 20, 9, '(41.8097569, -87.6721446)'),
 (610513, 'Air Force Academy High School', 'HS', '3630 S Wells St', 'Chicago', 'IL', 60609, '(773) 535-1590', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610513.pdf', 'Southwest Side High School Network', 'SOUTHWEST SIDE COLLABORATIVE', 'NDA', 'Standard', 'Not on Probation', 'Not Enough Data', 'Yes', 'Average', 49, 'Strong', '60', 'Strong', 60, 'Average', 55, 'Average', '45', 'Average', '54', 'Average', '53', 'Average', '49', '93.3%', Decimal('15.6'), '96.9%', '100.0%', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', None, None, None, None, 'NDA', 'NDA', 'NDA', 'NDA', '14.6', '14.8', 'NDA', '16', '1.4', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 302, 40, '91.8', 150000000000000, Decimal('1175177.622'), Decimal('1880745.126'), Decimal('41.82814609'), Decimal('-87.63279369'), 34, 'ARMOUR SQUARE', 11, 9, '(41.82814609, -87.63279369)')]

### Problem 7

##### Find the minimum “Average Student Attendance” for community are where hardship is 96. Hint: use INNER JOIN

In [75]:
%sql select min[CPS."Average_Student_Attendance"] \
from  CENSUS_DATA as CD inner join CHICAGO_PUBLIC_SCHOOLS as CPS \
on CPS."Community_Area_Number" = CD."Community_Area_Number" \
where hardship_index = 96 \

 * ibm_db_sa://dkm78407:***@dashdb-txn-sbox-yp-dal09-03.services.dal.bluemix.net:50000/BLUDB
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0206N  "MIN" is not valid in the context where it is used.  SQLSTATE=42703 SQLCODE=-206 [SQL: 'select min[CPS."Average_Student_Attendance"] from  CENSUS_DATA as CD inner join CHICAGO_PUBLIC_SCHOOLS as CPS on CPS."Community_Area_Number" = CD."Community_Area_Number" where hardship_index = 96'] (Background on this error at: http://sqlalche.me/e/f405)

Copyright &copy; 2018 [cognitiveclass.ai](cognitiveclass.ai?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).